@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info-container {
  height: 80%; 
  max-height: 80%;
  overflow-y: scroll;
  background-color: #e7e7e7;
  padding: 10px;
  border: 10px solid white;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction:column;
  position: absolute;
    left: 10px;
    top: 70px;
    right: 10px;
    bottom: 10px;
}
.packet .ant-tag{
  align-self: center;
}

.packet .ant-row {
  padding: 0 10px;
}

.client-message .packet  {
  margin-bottom: 10px;
  animation-duration: 1s;
  animation-name: slideinLeft;
}

@keyframes slideinLeft {
  from {
    margin-right: 100%;
    width: -300%;
  }

  to {
    margin-right: 0;
    width: -100%;
  }
}
.server-message .packet  {
  animation-duration: 3s;
  animation-name: slideinRight;
}

@keyframes slideinRight {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.ant-btn {
  margin: 7px; 

}



.ant-btn-default:hover {
  border: #364957 solid;
  color:#364957
}
.ant-btn-default:focus {
  border: #364957 solid;
  color:#364957 
}

.send-btn {
  width:50%;
  margin-top:10%;
  margin-left:10%
}
.send-packet {
  display: flex;
  width: 50%;
  align-self: center;
}
.send-packet .packet{
  width: 100% !important;
}


.ant-modal-confirm-content .packet {
  width: 100% !important;

}

.connect-done {
  border-radius: 10px;
  border: black solid 2px;
  margin: 10px;
  font-size: 20px;
  background: white;
}