body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-modal-content {
  min-width: 500px;
}

.ant-modal-body {
  max-height: 500px;
  overflow-y: scroll;

}

.coming-soon-page {
  background-image: url(./img/coming-soon-page.png);
  background-repeat: no-repeat;
  background-color: #f5f6fc;
  min-height: 100vh;
}

.ant-btn {
  background: #364957 !important;
  color: white !important;
}

.ant-input[disabled] {
  color: black !important;
}